/*
Source - https://stackoverflow.com/a
Posted by saleh
Retrieved 2025-11-16, License - CC BY-SA 4.0
Modified - Flatter waves with horizontal movement only
*/
.w1 {
  stroke: none;
  fill: #2196f3;
  opacity: 55%;
  animation: move1 5s ease-in-out infinite;
}
.w2 {
  stroke: none;
  fill: #2196f3;
  opacity: 35%;
  transform: translate3d(0, 0, 0);
  animation: move2 4s ease-in-out infinite;
}
.w3 {
  stroke: none;
  fill: #1976d2;
  opacity: 30%;
  transform: translate3d(0, 0, 0);
  animation: move3 6s ease-in-out infinite;
}
@keyframes move1 {
  0% {
    transform: translateX(-500px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-500px);
  }
}
@keyframes move2 {
  0% {
    transform: translateX(-600px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-600px);
  }
}
@keyframes move3 {
  0% {
    transform: translateX(-800px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-800px);
  }
}